.pickBazarImg {
  height: 2rem;
}
@media (max-width: 1024px) {
  .css-8u39c-MuiTypography-root {
    display: none;
  }
}
@media (min-width: 1536px) {
  .css-1osj8n2-MuiGrid-root {
    display: flex;
    justify-content: center;
  }
  .css-enyiw4-MuiPaper-root-MuiAppBar-root {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
.css-17sdi6p {
  padding-top: 70px;
}
.css-xn6ruc {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .css-3inafz-MuiTypography-root {
    display: none !important;
  }
  .css-u10pvi-MuiStack-root {
    display: none !important;
  }
}
